<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <button type="submit" class="btn btn-success" onclick="return run()">Run</button>
                <button type="submit" class="btn btn-secondary" onclick="return step()">Step</button>
                <button type="submit" class="btn btn-danger" onclick="return reset()">Reset</button>
                <button type="submit" class="btn btn-warning" onclick="return dump()">Dump</button>
                <button type="submit" class="btn btn-secondary" onclick="return exit()">Exit</button>
            </div>
            <div id="pipeline_table" style="height:440px;overflow:auto;"></div>
        </div>
    </div>
</div>