<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead style="background-color: #dadde0;">
                    <tr>
                        <th>Stat No</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Cycles</td>
                        <td id="total_cycles">0</td>
                    </tr>
                    <tr>
                        <td>Total Instructions</td>
                        <td id="total_instr">0</td>
                    </tr>
                    <tr>
                        <td>CPI</td>
                        <td id="CPI">0</td>
                    </tr>
                    <tr>
                        <td>ALU Instructions</td>
                        <td id="total_alu_instr">0</td>
                    </tr>
                    <tr>
                        <td>Data-transfer Instructions</td>
                        <td id="total_data_instr">0</td>
                    </tr>
                    <tr>
                        <td>Control Instructions</td>
                        <td id="total_control_instr">0</td>
                    </tr>
                    <tr>
                        <td>Data Hazard</td>
                        <td id="total_data_hazard">0</td>
                    </tr>
                    <tr>
                        <td>Control Hazard</td>
                        <td id="total_control_hazard">0</td>
                    </tr>
                    <tr>
                        <td>Branch Mispredictions</td>
                        <td id="total_misprediction">0</td>
                    </tr>
                    <tr>
                        <td>Total Stalls</td>
                        <td id="total_stalls">0</td>
                    </tr>
                    <tr>
                        <td>Stalls (due to Data Hazard)</td>
                        <td id="total_data_stalls">0</td>
                    </tr>
                    <tr>
                        <td>Stalls (due to Control Hazard)</td>
                        <td id="total_control_stalls">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>